@page "/"

<PageTitle>Civop - Klientská sekce</PageTitle>
<MudText Typo="Typo.overline" Class="mb-4">NOVINKY A ZÁKLADNÍ INFORMACE</MudText>
<MudGrid>
    <MudItem xs="12" sm="12" md="4" xl="4">
        <MudCard Class="mb-4">
            <MudCardMedia Image="images/slider_image_2.jpg" Height="132" />
            <MudCardContent Class="pb-1">
                <MudText Typo="Typo.h6" Class="pb-2">Informace o CIVOP s.r.o.</MudText>
                <MudText Typo="Typo.body2">Nam quis nulla. Praesent in mauris eu tortor porttitor accumsan. Pellentesque pretium lectus id turpis.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Více informací</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    
    <MudItem xs="12" sm="12" md="4" xl="4">
        <MudCard Class="mb-4">
            <MudCardMedia Image="images/slider_image_1.jpg" Height="132" />
            <MudCardContent Class="pb-1">
                <div class="d-flex gap-4 align-center flex-grow-1">
                    <MudText Typo="Typo.h6" Class="pb-2">Modul Práce ve výškách</MudText>
                    <MudPaper Class="pb-1 pt-1 pl-2 pr-2 mb-2 mud-theme-secondary">Novinka</MudPaper>
                </div>

                <MudText Typo="Typo.body2">Nam quis nulla. Praesent in mauris eu tortor porttitor accumsan. Pellentesque pretium lectus id turpis.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Více informací</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    
    <MudItem xs="12" sm="12" md="4" xl="4">
        <MudCard Class="mb-4">
            <MudCardMedia Image="images/slider_image_3.jpg" Height="132" />
            <MudCardContent Class="pb-1">
                <div class="d-flex gap-4 align-center flex-grow-1">
                    <MudText Typo="Typo.h6" Class="pb-2">Modul Home office</MudText>
                    <MudPaper Class="pb-1 pt-1 pl-2 pr-2 mb-2 mud-theme-secondary">Novinka</MudPaper>
                </div>

                <MudText Typo="Typo.body2">Nam quis nulla. Praesent in mauris eu tortor porttitor accumsan. Pellentesque pretium lectus id turpis.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Více informací</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    
</MudGrid>

<div class="mt-4">

    <MudText Typo="Typo.overline" Class="mb-4">PŘIPOJENÉ MODULY</MudText>

    <MudCard Outlined="true" Class="mb-4 d-flex gap-4 justify-space-between mud-border-primary">
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudPaper Class="pb-1 pt-1 pl-2 pr-2 mud-theme-success">Připojeno</MudPaper>
            <MudImage Src="images/worker.svg" Height="32"></MudImage>
            <MudText Typo="Typo.body1" Color="Color.Primary" Class="pb-0">Bezpečnost práce</MudText>
        </MudCardContent>

        <MudCardContent Class="d-flex gap-4 align-center">
            <MudTooltip Text="Čeština" Color="Color.Primary" Placement="Placement.Top">
                <MudImage Src="images/czech.svg" Class="mr-2 mt-2"></MudImage>
            </MudTooltip>
            <MudTooltip Text="Angličtina" Color="Color.Primary" Placement="Placement.Top">
                <MudImage Src="images/english.svg" Class="mr-2 mt-2"></MudImage>
            </MudTooltip>
            <MudTooltip Text="Němčina" Color="Color.Primary" Placement="Placement.Top">
                <MudImage Src="images/germany.svg" Class="mr-2 mt-2"></MudImage>
            </MudTooltip>
            <MudTooltip Text="Přidat lokalizaci" Color="Color.Primary" Placement="Placement.Top">
                <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="add" Color="Color.Primary" Size="Size.Medium" Class="ma-0 pa-2"></MudIconButton>
            </MudTooltip>
        </MudCardContent>
</MudCard>

<MudCard Outlined="true" Class="mb-4 d-flex gap-4 justify-space-between mud-border-primary">
    <MudCardContent Class="d-flex gap-4 align-center">
        <MudPaper Class="pb-1 pt-1 pl-2 pr-2 mud-theme-success">Připojeno</MudPaper>
        <MudImage Src="images/fire.svg" Height="32"></MudImage>
        <MudText Typo="Typo.body1" Color="Color.Primary" Class="pb-0">Požární ochrana</MudText>
    </MudCardContent>
    
    <MudCardContent Class="d-flex gap-4 align-center">
        <MudTooltip Text="Čeština" Color="Color.Primary" Placement="Placement.Top">
            <MudImage Src="images/czech.svg" Class="mr-2 mt-2"></MudImage>
        </MudTooltip>
        <MudTooltip Text="Angličtina" Color="Color.Primary" Placement="Placement.Top">
            <MudImage Src="images/english.svg" Class="mr-2 mt-2"></MudImage>
        </MudTooltip>
        <MudTooltip Text="Němčina" Color="Color.Primary" Placement="Placement.Top">
            <MudImage Src="images/germany.svg" Class="mr-2 mt-2"></MudImage>
        </MudTooltip>
        <MudTooltip Text="Přidat lokalizaci" Color="Color.Primary" Placement="Placement.Top">
            <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="add" Color="Color.Primary" Size="Size.Medium" Class="ma-0 pa-2"></MudIconButton>
        </MudTooltip>
    </MudCardContent>
</MudCard>
</div>

<div class="mt-8">
    <MudText Typo="Typo.overline" Class="mb-4 mt-12">NABÍDKA MODULŮ</MudText>

    <MudCard Outlined="true" Class="mb-4 d-flex gap-4 justify-space-between">
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudImage Src="images/ladder.svg" Height="32"></MudImage>
            <MudText Typo="Typo.body1" Class="pb-0">Práce ve výškách</MudText>
        </MudCardContent>
    
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudButton Href="#"
                       Target="_blank"
                       Variant="Variant.Text"
                       StartIcon="@Icons.Material.Filled.Info"
                       Style="text-transform:none"
                       Size="Size.Small"
                       Disabled=@disabled>
                Detail
            </MudButton>
            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add">Přidat</MudButton>
        </MudCardContent>
    </MudCard>

    <MudCard Outlined="true" Class="mb-4 d-flex gap-4 justify-space-between">
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudImage Src="images/chemical.svg" Height="32"></MudImage>
            <MudText Typo="Typo.body1" Class="pb-0">Chemické látky a směsi</MudText>
        </MudCardContent>
    
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudButton Href="#"
                       Target="_blank"
                       Variant="Variant.Text"
                       StartIcon="@Icons.Material.Filled.Info"
                       Style="text-transform:none"
                       Size="Size.Small"
                       Disabled=@disabled>
                Detail
            </MudButton>
            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add">Přidat</MudButton>
        </MudCardContent>
    </MudCard>
    
    <MudCard Outlined="true" Class="mb-4 d-flex gap-4 justify-space-between">
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudImage Src="images/truck.svg" Height="32"></MudImage>
            <MudText Typo="Typo.body1" Class="pb-0">Řidiči</MudText>
        </MudCardContent>
        
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudButton Href="#"
                       Target="_blank"
                       Variant="Variant.Text"
                       StartIcon="@Icons.Material.Filled.Info"
                       Style="text-transform:none"
                       Size="Size.Small"
                       Disabled=@disabled>
                Detail
            </MudButton>
            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add">Přidat</MudButton>
        </MudCardContent>
    </MudCard>
    
    <MudCard Outlined="true" Class="mb-4 d-flex gap-4 justify-space-between">
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudImage Src="images/home.svg" Height="32"></MudImage>
            <MudText Typo="Typo.body1" Class="pb-0">Home office</MudText>
        </MudCardContent>
        
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudButton Href="#"
                       Target="_blank"
                       Variant="Variant.Text"
                       StartIcon="@Icons.Material.Filled.Info"
                       Style="text-transform:none"
                       Size="Size.Small"
                       Disabled=@disabled>
                Detail
            </MudButton>
            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add">Přidat</MudButton>
        </MudCardContent>
    </MudCard>
    
    <MudCard Outlined="true" Class="mb-4 d-flex gap-4 justify-space-between">
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudImage Src="images/lift.svg" Height="32"></MudImage>
            <MudText Typo="Typo.body1" Class="pb-0">Nízkozdvihy</MudText>
        </MudCardContent>
        
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudButton Href="#"
                       Target="_blank"
                       Variant="Variant.Text"
                       StartIcon="@Icons.Material.Filled.Info"
                       Style="text-transform:none"
                       Size="Size.Small"
                       Disabled=@disabled>
                Detail
            </MudButton>
            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add">Přidat</MudButton>
        </MudCardContent>
    </MudCard>
    
    <MudCard Outlined="true" Class="mb-4 d-flex gap-4 justify-space-between">
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudImage Src="images/aid.svg" Height="32"></MudImage>
            <MudText Typo="Typo.body1" Class="pb-0">První pomoc</MudText>
        </MudCardContent>
        
        <MudCardContent Class="d-flex gap-4 align-center">
            <MudButton Href="#"
                       Target="_blank"
                       Variant="Variant.Text"
                       StartIcon="@Icons.Material.Filled.Info"
                       Style="text-transform:none"
                       Size="Size.Small"
                       Disabled=@disabled>
                Detail
            </MudButton>
            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add">Přidat</MudButton>
        </MudCardContent>
    </MudCard>
</div>

<MudDivider Class="mb-4"></MudDivider>

<MudGrid>
    <MudItem xs="6">
        <MudCard Class="mb-4">
            <MudCardContent Class="d-flex flex-column gap-1">
                <MudText Typo="Typo.h6" Class="pb-2">Návody</MudText>
                <MudLink>Návody pro admistrátora</MudLink>
                <MudLink>Návody správy pozic</MudLink>
                <MudLink>Návody směrnic</MudLink>
            </MudCardContent>
        </MudCard>
    </MudItem>
    
    <MudItem xs="6">
        <MudCard Class="mb-4">
            <MudCardContent Class="d-flex flex-column gap-1">
                <MudText Typo="Typo.h6" Class="pb-2">Kontakt</MudText>
                <MudText Typo="Typo.body2" Class="pb-2">Administátor E-learningu</MudText>
                <MudLink>+420 737 205 107</MudLink>
                <MudLink>elearning@civop.cz</MudLink>
            </MudCardContent>
        </MudCard>
    </MudItem>
    
</MudGrid>

@code{
    bool disabled = false;
}
